.con-work {
	padding-top: 0;
}
.work-item {
	width: calc((100% - 60px) / 3);
}
.team-title,
.work-title,
.clients-title {
	margin-bottom: 50px;
	text-align: center;
}

/*Работы*/
.work-list {
	display: flex;
	gap: 30px;
}

.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

.work-item {
	position: relative;
}
.work-text {
	color: var(--white-color);
	position: absolute;
	overflow: hidden;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(47, 48, 58, 0.8);
	text-align: center;
	padding-top: 27px;
	padding-bottom: 27px;
	margin: 0;
}
